page-login {

}

.card-md {
  
     -webkit-box-shadow: none ;
    box-shadow: none ;
    background: transparent !important;
}

.button-md {
   
    background-color: #000000;}

.item-md {
   
    background-color: transparent !important;
}