<!--
  Generated template for the TicketsPorTareaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>TicketsPorTarea</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>

  <ion-item *ngIf="tickets.length == 0"> 
      <div class="sec2">
       <p class="fontPrimaria" style="padding:20px;margin: 0px;">
       No hay tickets abiertos actualmente</p></div>
 </ion-item>

        <button ion-item *ngFor="let ticket of tickets "  (click)="Open('D', ticket)" >
            <div class="row">
          <div class="col col-4  ticketTaG">{{ ticket.created_at}}</div>
          
          <div class="col col-4  ticketTa">{{ ticket.status}}</div>
          <div class="col col-4  ticketTa">{{ ticket.priority}}</div></div>
          <div class="row">
          <div class="col col-12  ticketTa">  <span style=" font-weight:800;color:#000;">Asunto:</span> {{ ticket.subject}}</div>
          </div>
      </button> 

  </ion-list>

   <button ion-button icon-right (click)="Open('N')">
        CREAR NUEVO TICKETS 
        <ion-icon name="build"></ion-icon>
      </button>

</ion-content>
