.toolbar-background-md {
  
    background:#4fa757;
    
}

.button-md {
    background-color: #285f20 !important;

    margin: auto ;
    width: 95%;
    display: block;
    margin-bottom: 7px;
}
ion-app.md [padding] .scroll-content {
    padding: 0px;
}
ion-app.md [padding] {
    padding: 0px;
}
.toolbar-title-md {
   
    color: #ffffff;
}
// 
.toolbar-title-md {
    color: #ffffff;
    display: flex !important;
    
    align-items: center !important;
    height: 100%;
}
//seccion tickets
.item-md{padding-left: 0px;}
.label-md {
    margin: 0px 0px 0px 0;
}

 
.item-md.item-block .item-inner {
  padding-right: 0px !important;
  border-bottom: 1px solid #dedede;
}
//secciones
.sec1{background-color:#50a0d2;    box-shadow: inset -3px 6px 16px 0.5px;
}
.sec2{background-color: #3f6f38;}
.secPending{background-color: #b71818;}
.sec3{background-color: #1f4e88;}
.sec4{background-color: #11325a;}

.gradient{background: #3b7b37;
    background: -webkit-linear-gradient(to bottom,  #3b7b37, #4fa75a);
       background: linear-gradient(to bottom, #3b7b37, #4fa75a);}

 //texto
 .fontPrimaria{color:#fff !important;}   
